/*bootstrap/jumbotron over-wites*/
body{
	/*background:url(../../img/bgTemp.jpg) center top no-repeat;*/
	font-family: 'Rokkitt', serif;
	padding:0px;
	/*overflow:hidden;*/

}

/* splashPage */

.splashPage{
	position:absolute;
	display:block;
	top:0px;
	left:0px;
	z-index:10000;
	background:url(../../img/splashBg.jpg) center center no-repeat #fff;
	background-size : cover ;
	width:100%;
	height:100%;
	margin: auto;
	

}
.splashContainer{
	width:1035px;

	display:block;
	margin:0px auto;

}

.splashBox{
	
	
	width:1035px;
	display:block;
	margin:0px auto;
	margin-top:40px;
}

.splashTxt{
	padding-left:40px;
	padding-right:40px;
	padding-bottom:40px;
	padding-top:20px;
	font-size:18px;
	text-align:center;
}

.jumboSplash{
	background: #dedfdf;
    border: 1px solid #afafb0;
    border-radius: 8px;
}

button.splashBtn{
	cursor:pointer;
}
.splashBtn{
    
    width: 120px;
    height: 120px;
    background: #0a8e9d;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border:1px solid #fff;
    border-radius: 60px;
    color:#fff;
    font-size:22px;

    cursor:pointer;
    outline:none;

}
.splashBtn:hover{
	color:#000;
	cursor:pointer;
}

.h3, h3{
	margin-top:0px;
	font-size:38px;
	font-weight: 700;
}
.h4, .h5, .h6, h4, h5, h6{
	margin-bottom:6px;

}
.h4, h4{
	color:#007681;
}
.h5, h5{
	color:#007681;
	font-size:20px;
}

.spacer {
	height:78px;
	display:block;
}

.mid {

}
.container{	
	max-width:1022px;
	
}

.jumbotron{
	background:#dedfdf;
	border:1px solid #afafb0;
	padding: 0px;
	margin:0px;
	
}

.container .jumbotron{
	border-radius:8px;
	padding:0px;
	margin-bottom:15px;
	/*opacity:0.6;*/
}

.marketing{
	margin-top:0px;

}

.form-control{
	border-radius: 8px;
	margin-bottom:0px;
}

.input-group .form-control:last-child{
	border-radius:8px;
	height:33px;
	color:#131e29;
}
.jumbotron .btn{
	padding:0px;
	padding-left:15px;
	padding-right:10px;
	border-radius:8px;
	height:33px;
	width:180px;
	text-align:left;
	color:#131e29;

}
/*drop down */

.btn-primary{
	background-color:#fff;
	border-color:#ccc;
}


.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary
{
	background-color:#0b9caa;
}

.btn-default{
	border-color:#ccc;
}

ul, ol{
	margin-bottom: 0px
}

/*local  css */
.titleShift{
	padding-left:15px;
}
.titleShiftNoBox{
	padding-left:30px;
}

.box-inner-txt{
	text-align:left;
	

}

.logo_TopLeft{
	/*background:url(../../img/logo_LH_01.jpg) no-repeat;*/
	width:850px;
	height:50px;
	
	font-size:36px;
}
.reTxt{
	font-size:24px;
	color:#999;
}


.logo_TopRight{
	background:url(../../img/logo_RH_01.jpg) 0px 5px no-repeat;
	width:102px;
	height:50px;
	float:right;
}
.clearNoborder{
	border:none;
}
.btmBorder{
	
	padding-left:0px;
}
.headerTXT_LH{
	float:left;
	padding-left:20px;
	/*padding-top:65px;*/

}
.headerTXT_RH{
	float:right;
	/*height:100px;*/
}
.headerTXT_RH div{
	float:right;
	display:block;

}
/*
.headerTXT_RH .oppNum{
	font-size:92px;
	padding-right:33px;

}
.headerTXT_RH .oppTxt{
	font-size:24px;
	color:#007681;
	padding-top:40px;
	padding-right:22px;
}
*/

/* form */
.btmBox{
	margin-bottom:12px;
}

.txtBoxWrap{
	width:160px;
	height:auto;
	display:block;
	float:left;
	padding-top:0px;
}
.boxSpacer{
	display:block;
	float:left;
	/*height:51px;*/
	width:160px;
}
.txtBoxLabel{
	color:#007681;
	font-size:16px;
	display:block;
	float:left;
	padding-left:5px;
}
.txtBoxBox{
	color:#131e29;
	/*font-size:22px;*/
	display:block;
	float:left;
	width:180px;
}
.txtBoxNumWrap{
	padding-top:19px;
}
.txtBoxNum{
	color:#131e29;
	font-size:22px;
	display:block;
	float:left;
	width:180px;

	/*margin-right:150px;
	margin-bottom:10px;*/
}
.oppFound{
	width:200px;
	display:block;
	float:left;
	font-size:20px;
	padding-top:20px;
}
.inputWrap1{
	width:180px;
	display:block;
	float:left;
}

.inputTxt{
	font-size:18px;
}

.topTxt{
	width:150px;
}
.LH-LH{
	width:160px;
	height:150px;
	display:block;
	float:left;
}

.LH-RH{
	width:240px;
	display:block;
	float:left;
	padding-top:6px;
}

.txtH1{
	font-weight:700;
}
.txtH2{
	font-weight:700;
	font-size:18px;
	padding-left:8px;
}
.txtH2-1{
	font-weight:700;
	font-size:46px;
	padding-left:8px;
}
.txtH2-2{
	font-weight:700;
	font-size:68px;
	padding-left:8px;
}

.reLogo{
	color:#007681;
	font-weight: 700;
}
.reLogo2{
	color:#666;
	
}
.reLogo3{
	color:#007681;
	
}

.totalFund{
	background:#c3d5d7;
	height:155px;
	width:140px;
	border-radius:8px;
	margin-top:14px;
	color:#999;
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
	padding:10px;
	text-align:left;
	line-height:36px;

}
.totalFund hr{
	color:#999;
	border-top: 1px solid #999;
	margin-bottom:5px;
	margin-top:5px;
}

.txtMid{
	padding-bottom:5px;
}

.txtRH_1{
	padding-top:8px;
	width:230px;
	float:left;

}
.txtRH_2{
	/*background:#c3d5d6;*/
	padding-top:8px;
	width:165px;
	height:100%;
	float:left;
}
.txtRH_3{
	padding-top:10px;
	width:20px;
	float:left;
}
/* radio buttons */

.radioList,.tableList{
	list-style: none;
	
}
.radioList{
	padding-left:8px;
}

label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 16px;
}
.check {
    
    margin-bottom:4px;
}

input[type=radio],input[type=checkbox] {
    display: none;
}
label:before {
    content: "";
    display: inline-block;
 
    width: 16px;
    height: 16px;

    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    /*background-color: #aaa;*/
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}
.radioList label:before {
    border-radius: 8px;
}
.tableList label:before {
    border-radius: 8px;

}


input[type=radio]:checked + label:before,
input[type=checkbox]:checked + label:before {
    /*content: "\2022";*/
    background:#0b9caa;
    color: #f3f3f3;
    font-size: 30px;
    text-align: center;
    line-height: 18px;
}
/*custom icons*/

.headTxt_01{
	font-size:38px;
}
.headTxt_02{
	font-size:24px;
}


.iconWrap{
	width:100%;
}
.icons{
	width: 16px;
    height: 16px;
	border-radius: 8px;
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
	float:left;
	display:block;
	margin-right:3px;
}

.wOn{
	background:url(../../svg/webLink.svg) no-repeat;
}
.wOff{
	background:url(../../svg/webLink_on.svg) no-repeat;
}


.edOn{
	background:url(../../svg/eDit.svg) no-repeat;
}
.edOff{
	background:url(../../svg/eDit_on.svg) no-repeat;
}


.ukOn,.ukOff{
	background:url(../../svg/flag_uk.svg) no-repeat;
}
.waleOn,.waleOff{
	background:url(../../svg/flag_wale.svg) no-repeat;
}
.ireOn,.ireff{
	background:url(../../svg/flag_ire.svg) no-repeat;
}
.engOn,.engOff{
	background:url(../../svg/flag_eng.svg) no-repeat;
}
.scotOn,.scotOff{
	background:url(../../svg/flag_scot.svg) no-repeat;
}

.eAfricOn,.eAfricOff{
	background:url(../../svg/flag_e_africa.svg) no-repeat;
}
.AfricOn,.AfricOff{
	background:url(../../svg/flag_africa.svg) no-repeat;
}
.indiOn,.indiOff{
	background:url(../../svg/flag_india.svg) no-repeat;
}
.pakOn,.pakOff{
	background:url(../../svg/flag_pakistan.svg) no-repeat;
}
.denOn,.denOff{
	background:url(../../svg/flag_denmark.svg) no-repeat;
}
.swedOn,.swedOff{
	background:url(../../svg/flag_sweden.svg) no-repeat;
}
.holOn,.holOff{
	background:url(../../svg/flag_holland.svg) no-repeat;
}
.usOn,.usOff{
	background:url(../../svg/flag_us.svg) no-repeat;
}
.defaultFlag{
	background:url(../../svg/flag_default.svg) no-repeat;
}
.infoOn{
	
	background:url(../../svg/icon_info.svg) no-repeat;
	-ms-transform: scale(0.7,0.7); /* IE 9 */
    -webkit-transform: scale(0.7,0.7); /* Safari */
    transform: scale(0.7,0.7);
}

.infoRH{
	float:right;
	margin-left:5px;
	margin-top:2px;
}
.infoLH{
	float:right;
	margin-top:0px;
	margin-left:5px;
}
.infoTable{
	float:left;
	
}
.infoOn:hover{
	cursor:pointer;
}

.tooltip-inner{
	padding:5px;
	width:200px;
	text-align: left;
	font-size:16px;
}



/* table */

.tableBox{
	background:url(../../img/tableBg.jpg) repeat-y;
}

.tRowInfo{
	height:15px;
}

.tRowHead {
	height:55px;
	padding-top:35px;
	/*padding-left:10px;*/
}

.tRowHead .col{
	padding-left:10px;
}

.tRow{
	height:1px;

}
.tLine{
	border-top:1px solid #afafb0;
	padding-bottom:5px;
	
}

.tHead{

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);

	-webkit-transform-origin: 0% 100%;
	-moz-transform-origin: 0% 100%;
	-ms-transform-origin: 0% 100%;
	-o-transform-origin: 0% 100%;
	transform-origin: 0% 100%;

	
	color:#007681;
	float:left;



}

.col{
	float:left;
	display:block;

}
.col1{
	width:270px;
}
.col2{
	width:270px;
}
.col3{
	width:25px;
}
.col4{
	width:0px;/*85*/
}
.col5{
	width:190px;
	
}
.col6{
	width:225px;
	padding-top:5px;
}
.cellCol{
	/*background:#fff;*/
}
.col6 .cluster,.col7 .cluster{
	width:20px;/*20*/
	display:block;
	float:left;

}
.cluster .cTxt{
	padding-left:10px;
}
.col7{
	width:25px;
	display:block;
}
.col7 .norm{
	width:16px;
	margin-right:4px;
	display:block;
	float:left;
}

.tRowBody{
	display:block;
	cursor:pointer;
}
.checkTable div {
	padding-top:5px;
	height:10px;
}

.tRowFoot{

	height:70px;
}
.tFoot{
	
}
/* interactive*/
accordion{
	border:none;
	
}
accordion-heading{
	/*background:#000;
	height:20px;*/
	border:none;
	
}

/* bootstrap overwrites */



.panel-default>.panel-heading{
	background:none;
}
.panel-heading{
	padding:0px;

}
.panel{
	background:none;
	border:none;
}
.panel-group{
	margin-bottom:10px;
}
.panel-body{
	padding:0px;
	padding-top:20px;
}

/* inner panel */

.accSpacer{
	width:958px;
	height:10px;
	display:block;
	float:left;
}

.accInner{
	width:958px;
	min-height:250px;/*300*/
	background-color:#fff;
	border-radius: 8px;
	border: 1px solid #ccc;
	padding:10px;
	font-size:17px;
	overflow:auto;
	left:0px;
	float:left;
}
.accInnerL{
	width:460px;
	float:left;
	padding-right:20px;
}
.accInnerR{
	width:450px;
	float:left;
}
.accHeader{
	color:#007681;
}
.descTxt{
	font-size:15px;

	line-height: 15px;
	padding-right:30px;
}
.miniTable{
	font-size:15px;
}

.miniRow{
	width:100%;
	float:left;
}
.miniCol{
	float:left;
	padding-right:10px;
	width:90px;
}
.he{
	font-weight:700;
}




